---
{% include "designs/0010_basedata.yaml.j2" %}
{% include "designs/0020_locations.yaml.j2" %}
{% include "designs/0030_vlans.yaml.j2" %}
{% include "designs/0040_devices.yaml.j2" %}
{% include "designs/0050_prefixes.yaml.j2" %}
{% include "designs/0060_ipaddresses.yaml.j2" %}
{% include "designs/0070_interfaceredundancygroups.yaml.j2" %}
{% include "designs/0080_circuits.yaml.j2" %}
{% include "designs/0090_vpns.yaml.j2" %}

