locations:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:name": "{{ region }}"
    location_type__name: "Region"
    status__name: "Active"
    "!ref": "{{ region }}"
    children:
      - "!create_or_update:name": "{{ region }}-DC01"
        location_type__name: "Data Center"
        description: "{{ region }} Data Center 01"
        status__name: "Active"
        "!ref": "{{ region }}-DC01"
{% endfor %}

