vlans:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:vid": 3001
    "!create_or_update:name": "{{ region }}-DC01-VLAN3001"
    locations: ["!ref:{{ region }}-DC01"]
    description: "VLAN 3001 - Management"
    status__name: "Active"
    "!ref": "{{ region }}-VLAN3001"
  - "!create_or_update:vid": 3002
    "!create_or_update:name": "{{ region }}-DC01-VLAN3002"
    locations: ["!ref:{{ region }}-DC01"]
    description: "VLAN 3002 - Data"
    status__name: "Active"
    "!ref": "{{ region }}-VLAN3002"
{% endfor %}

