devices:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {# --- ROUTERS --- #}
  {% for device in range(2) %}
  - "!create_or_update:name": "{{ region }}-DC01-RTR0{{ device + 1 }}"
    device_type__model: "ISR4451-X"
    location__name: "{{ region }}-DC01"
    status__name: "Active"
    role__name: "Router"
    serial: "FTX1234{{ device + 1 }}5678"
    "!ref": "{{ region }}-DC01-RTR0{{ device + 1 }}"
    interfaces:
    {# --- DOWNLINKS --- #}
    {% for interface in range(2)%}
      - "!create_or_update:name": "Gi0/{{ interface + 1 }}"
        type: "10gbase-t"
        status__name: "Active"
        "!ref": "{{ region }}-DC01-RTR0{{ device + 1 }}-to-SW0{{ interface + 1 }}"
    {% endfor %}
    {# --- WAN --- #}
      - "!create_or_update:name": "Gi1/1"
        type: "10gbase-t"
        status__name: "Active"
        "!ref": "{{ region }}-DC01-RTR0{{ device + 1 }}-WAN"
    {# --- Tunnel --- #}
      - "!create_or_update:name": "Tunnel0"
        type: "tunnel"
        status__name: "Active"
        "!ref": "{{ region }}-DC01-RTR0{{ device + 1 }}-Tunnel0"
  {% endfor %}
  {# --- SWITCHES --- #}
  {% for device in range(2) %}
  - "!create_or_update:name": "{{ region }}-DC01-SW0{{ device + 1 }}"
    device_type__model: "C9300"
    location__name: "{{ region }}-DC01"
    status__name: "Active"
    role__name: "Switch"
    serial: "CAT1234{{ device + 1 }}5678"
    interfaces:
    {# --- UPLINKS --- #}
    {% for interface in range(2)%}
      - "!create_or_update:name": "Gi2/1/{{ interface + 1 }}"
        type: "10gbase-t"
        status__name: "Active"
        "!connect_cable":
          to: "!ref:{{ region }}-DC01-RTR0{{ interface + 1 }}-to-SW0{{ device + 1 }}"
          status__name: "Connected"
        "!ref": "{{ region }}-DC01-SW0{{ device + 1 }}-to-RTR0{{ interface + 1 }}"
    {% endfor %}
    {# --- SWITCHPORTS --- #}
    {% for interface in range(24)%}
      - "!create_or_update:name": "Gi1/0/{{ interface + 1 }}"
        type: "10gbase-t"
        status__name: "Active"
        mode: "tagged"
        tagged_vlans: ["!ref:{{ region }}-VLAN3001", "!ref:{{ region }}-VLAN3002"]
    {% endfor %}
    {# --- SVIs --- #}
    {% for vlan in [3001, 3002]%}
      - "!create_or_update:name": "SVI{{ vlan }}"
        type: "virtual"
        status__name: "Active"
        mode: "access"
        untagged_vlan: "!ref:{{ region }}-VLAN{{ vlan }}"
        "!ref": "{{ region }}-SW0{{ device + 1 }}-SVI{{ vlan }}"
    {% endfor %}
  {% endfor %}
{% endfor %}

