prefixes:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["VPN"] }}"
    locations: ["!ref:{{ region }}-DC01"]
    description: "{{ region }}-DC01 - VPN"
    status__name: "Active"
    type: "container"
  - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["WAN"] }}"
    locations: ["!ref:{{ region }}-DC01"]
    description: "{{ region }}-DC01 - WAN"
    status__name: "Active"
    type: "container"
    children:
      - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["WAN"] | network_offset('0.0.0.0/30') }}"
        locations: ["!ref:{{ region }}-DC01"]
        description: "{{ region }} DC01 - Primary WAN Circuit"
        status__name: "Active"
        type: "network"
      - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["WAN"] | network_offset('0.0.0.4/30') }}"
        locations: ["!ref:{{ region }}-DC01"]
        description: "{{ region }} DC01 - Secondary WAN Circuit"
        status__name: "Active"
        type: "network"
  - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] }}"
    locations: ["!ref:{{ region }}-DC01"]
    description: "{{ region }}-DC01 - LAN"
    status__name: "Active"
    type: "container"
    "!ref": "{{ region }}-DC01-LAN-SUPERNET"
    children:
      - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) }}"
        locations: ["!ref:{{ region }}-DC01"]
        description: "{{ region }} DC01 - L3 Links"
        status__name: "Active"
        type: "container"
        children:
          - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.0/30') }}"
            locations: ["!ref:{{ region }}-DC01"]
            description: "{{ region }}-DC01-RTR01 to {{ region }}-DC01-SW01"
            status__name: "Active"
            type: "network"
          - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.4/30') }}"
            locations: ["!ref:{{ region }}-DC01"]
            description: "{{ region }}-DC01-RTR01 to {{ region }}-DC01-SW02"
            status__name: "Active"
            type: "network"
          - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.8/30') }}"
            locations: ["!ref:{{ region }}-DC01"]
            description: "{{ region }}-DC01-RTR02 to {{ region }}-DC01-SW01"
            status__name: "Active"
            type: "network"
          - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.12/30') }}"
            locations: ["!ref:{{ region }}-DC01"]
            description: "{{ region }}-DC01-RTR02 to {{ region }}-DC01-SW02"
            status__name: "Active"
            type: "network"
      - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.1.0/24') }}"
        locations: ["!ref:{{ region }}-DC01"]
        description: "{{ region }} DC01 - Management"
        status__name: "Active"
        type: "container"
        vlan: "!ref:{{ region }}-VLAN3001"
      - "!create_or_update:prefix": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.2.0/24') }}"
        locations: ["!ref:{{ region }}-DC01"]
        description: "{{ region }} DC01 - Data"
        status__name: "Active"
        type: "container"
        vlan: "!ref:{{ region }}-VLAN3002"
{% endfor %}

