ip_addresses:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {# --- VPN --- #}
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["VPN"] | network_offset('0.0.0.1/24') }}"
    description: "{{ region }}-DC01-RTR01-Tunnel0"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR01-Tunnel0-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["VPN"] | network_offset('0.0.0.5/30') }}"
    description: "{{ region }}-DC01-RTR02-Tunnel0"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR02-Tunnel0-IP"
  {# --- WAN --- #}
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["WAN"] | network_offset('0.0.0.1/30') }}"
    description: "{{ region }}-DC01-RTR01-WAN"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR01-WAN-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["WAN"] | network_offset('0.0.0.5/30') }}"
    description: "{{ region }}-DC01-RTR02-WAN"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR02-WAN-IP"
  {# --- LAN --- #}
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.1.1/24') }}"
    description: "{{ region }}-HSRP-SVI3001"
    status__name: "Active"
    "!ref": "{{ region }}-HSRP-SVI3001-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.1.2/24') }}"
    description: "{{ region }}-SW01-SVI3001"
    status__name: "Active"
    "!ref": "{{ region }}-SW01-SVI3001-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.1.3/24') }}"
    description: "{{ region }}-SW02-SVI3001"
    status__name: "Active"
    "!ref": "{{ region }}-SW02-SVI3001-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.2.1/24') }}"
    description: "{{ region }}-HSRP-SVI3002"
    status__name: "Active"
    "!ref": "{{ region }}-HSRP-SVI3002-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.2.2/24') }}"
    description: "{{ region }}-SW01-SVI3002"
    status__name: "Active"
    "!ref": "{{ region }}-SW01-SVI3002-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset('0.0.2.3/24') }}"
    description: "{{ region }}-SW02-SVI3002"
    status__name: "Active"
    "!ref": "{{ region }}-SW02-SVI3002-IP"
    {# --- L3 Links --- #}
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.1/30') }}"
    description: "{{ region }}-DC01-RTR01 to {{ region }}-DC01-SW01"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR01-to-SW01-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.2/30') }}"
    description: "{{ region }}-DC01-SW01 to {{ region }}-DC01-RTR01"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-SW01-to-RTR01-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.5/30') }}"
    description: "{{ region }}-DC01-RTR02 to {{ region }}-DC01-SW01"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR02-to-SW01-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.6/30') }}"
    description: "{{ region }}-DC01-SW01 to {{ region }}-DC01-RTR02"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-SW01-to-RTR02-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.9/30') }}"
    description: "{{ region }}-DC01-RTR01 to {{ region }}-DC01-SW02"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR01-to-SW02-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.10/30') }}"
    description: "{{ region }}-DC01-SW02 to {{ region }}-DC01-RTR01"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-SW02-to-RTR01-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.13/30') }}"
    description: "{{ region }}-DC01-RTR02 to {{ region }}-DC01-SW02"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-RTR02-to-SW02-IP"
  - "!create_or_update:address": "{{ DATA_CENTERS[region]["LAN"] | network_offset(DATA_CENTERS["OFFSET_L3LINKS"]) | network_offset('0.0.0.14/30') }}"
    description: "{{ region }}-DC01-SW02 to {{ region }}-DC01-RTR02"
    status__name: "Active"
    "!ref": "{{ region }}-DC01-SW02-to-RTR02-IP"
{% endfor %}

ip_address_assignments:
{% for region in ["AMER", "EMEA", "APAC"]%}
  {# --- SVIs --- #}
  - "!create_or_update:ip_address": "!ref:{{ region }}-SW01-SVI3001-IP"
    "!create_or_update:interface": "!ref:{{ region }}-SW01-SVI3001"
  - "!create_or_update:ip_address": "!ref:{{ region }}-SW01-SVI3002-IP"
    "!create_or_update:interface": "!ref:{{ region }}-SW01-SVI3002"
  - "!create_or_update:ip_address": "!ref:{{ region }}-SW02-SVI3001-IP"
    "!create_or_update:interface": "!ref:{{ region }}-SW02-SVI3001"
  - "!create_or_update:ip_address": "!ref:{{ region }}-SW02-SVI3002-IP"
    "!create_or_update:interface": "!ref:{{ region }}-SW02-SVI3002"
  {# --- L3 Links --- #}
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR01-to-SW01-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR01-to-SW01"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-SW01-to-RTR01-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-SW01-to-RTR01"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR02-to-SW01-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR02-to-SW01"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-SW01-to-RTR02-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-SW01-to-RTR02"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR01-to-SW02-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR01-to-SW02"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-SW02-to-RTR01-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-SW02-to-RTR01"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR02-to-SW02-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR02-to-SW02"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-SW02-to-RTR02-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-SW02-to-RTR02"
  {# --- WAN --- #}
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR01-WAN-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR01-WAN"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR02-WAN-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR02-WAN"
  {# --- VPN --- #}
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR01-Tunnel0-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR01-Tunnel0"
  - "!create_or_update:ip_address": "!ref:{{ region }}-DC01-RTR02-Tunnel0-IP"
    "!create_or_update:interface": "!ref:{{ region }}-DC01-RTR02-Tunnel0"
{% endfor %}

