circuits:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:cid": "{{ region }}-DC01-WAN01"
    status__name: "Active"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    circuit_terminations:
      - "!create_or_update:term_side": "A"
        location__name: "{{ region }}-DC01"
        "!connect_cable":
          to: "!ref:{{ region }}-DC01-RTR01-WAN"
          status__name: "Connected"
      - "!create_or_update:term_side": "Z"
        provider_network__name: "NTC-WAN"
  - "!create_or_update:cid": "{{ region }}-DC01-WAN02"
    status__name: "Active"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    circuit_terminations:
      - "!create_or_update:term_side": "A"
        location__name: "{{ region }}-DC01"
        "!connect_cable":
          to: "!ref:{{ region }}-DC01-RTR02-WAN"
          status__name: "Connected"
      - "!create_or_update:term_side": "Z"
        provider_network__name: "NTC-WAN"
{% endfor %}

