vpns:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:name": "{{ region }}-DMVPN"
    vpn_id: "{{ region }}"
    vpn_profile__name: "High-Security Site-to-Site"
    role__name: "DMVPN"
    "!ref": "{{ region }}-DMVPN"
{% endfor %}

vpn_tunnel_endpoints:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:device": "!ref:{{ region }}-DC01-RTR01"
    "!create_or_update:source_interface": "!ref:{{ region }}-DC01-RTR01-WAN"
    "!create_or_update:source_ipaddress": "!ref:{{ region }}-DC01-RTR01-WAN-IP"
    tunnel_interface: "!ref:{{ region }}-DC01-RTR01-Tunnel0"
    role__name: "Hub"
    protected_prefixes: ["!ref:{{ region }}-DC01-LAN-SUPERNET"]
    "!ref": "{{ region }}-DC01-DMVPN-HUB01"
  - "!create_or_update:device": "!ref:{{ region }}-DC01-RTR02"
    "!create_or_update:source_interface": "!ref:{{ region }}-DC01-RTR02-WAN"
    "!create_or_update:source_ipaddress": "!ref:{{ region }}-DC01-RTR02-WAN-IP"
    tunnel_interface: "!ref:{{ region }}-DC01-RTR02-Tunnel0"
    role__name: "Hub"
    protected_prefixes: ["!ref:{{ region }}-DC01-LAN-SUPERNET"]
    "!ref": "{{ region }}-DC01-DMVPN-HUB02"
{% endfor %}

