interface_redundancy_groups:
{% for region, data in REGIONS.items()%}
  {% for site in data.SITES %}
    - "!create_or_update:name": "{{ region }}-{{ site.name }}-HSRP-3001"
      status__name: "Active"
      virtual_ip: "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3001-IP"
      protocol: "hsrp"
      protocol_group_id: 3001
      "!ref": "{{ region }}-{{ site.name }}-HSRP-SVI3001-IRG"
    - "!create_or_update:name": "{{ region }}-{{ site.name }}-HSRP-3002"
      status__name: "Active"
      virtual_ip: "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3002-IP"
      protocol: "hsrp"
      protocol_group_id: 3002
      "!ref": "{{ region }}-{{ site.name }}-HSRP-SVI3002-IRG"
  {% endfor %}
{% endfor %}

interface_redundancy_group_associations:
{% for region, data in REGIONS.items()%}
  {% for site in data.SITES %}
    - "!create_or_update:interface_redundancy_group": "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3001-IRG"
      "!create_or_update:interface": "!ref:{{ region }}-{{ site.name }}-SW01-SVI3001"
      priority: 1
    - "!create_or_update:interface_redundancy_group": "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3001-IRG"
      "!create_or_update:interface": "!ref:{{ region }}-{{ site.name }}-SW02-SVI3001"
      priority: 2
    - "!create_or_update:interface_redundancy_group": "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3002-IRG"
      "!create_or_update:interface": "!ref:{{ region }}-{{ site.name }}-SW01-SVI3002"
      priority: 1
    - "!create_or_update:interface_redundancy_group": "!ref:{{ region }}-{{ site.name }}-HSRP-SVI3002-IRG"
      "!create_or_update:interface": "!ref:{{ region }}-{{ site.name }}-SW02-SVI3002"
      priority: 2
  {% endfor %}
{% endfor %}

