locations:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {% for branch in BRANCHES[region] %}
    - "!create_or_update:name": "{{ region }}-{{ branch }}"
      location_type__name: "Branch"
      description: "{{ region }} Branch {{ branch }}"
      parent__name: "{{ region }}"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}"
  {% endfor %}
{% endfor %}

