ip_addresses:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {% for branch in BRANCHES[region] %}
    {# --- VPN --- #}
    - "!create_or_update:address": "{{ DATA_CENTERS[region]["VPN"] | network_offset(BRANCHES[region][branch]["VPN_OFFSET"]) }}"
      description: "{{ region }}-{{ branch }}-RTR01-Tunnel0"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR01-Tunnel0-IP"
    - "!create_or_update:address": "{{ DATA_CENTERS[region]["VPN"] | network_offset(BRANCHES[region][branch]["VPN_OFFSET"]) }}"
      description: "{{ region }}-{{ branch }}-RTR02-Tunnel0"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR02-Tunnel0-IP"
    {# --- WAN --- #}
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["WAN"] | network_offset('0.0.0.1/30') }}"
      description: "{{ region }}-{{ branch }}-RTR01-WAN"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR01-WAN-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["WAN"] | network_offset('0.0.0.5/30') }}"
      description: "{{ region }}-{{ branch }}-RTR02-WAN"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR02-WAN-IP"
    {# --- LAN --- #}
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.1.1/24') }}"
      description: "{{ region }}-{{ branch }}-HSRP-SVI3001"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-HSRP-SVI3001-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.1.2/24') }}"
      description: "{{ region }}-{{ branch }}-SW01-SVI3001"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW01-SVI3001-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.1.3/24') }}"
      description: "{{ region }}-{{ branch }}-SW02-SVI3001"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW02-SVI3001-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.2.1/24') }}"
      description: "{{ region }}-{{ branch }}-HSRP-SVI3002"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-HSRP-SVI3002-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.2.2/24') }}"
      description: "{{ region }}-{{ branch }}-SW01-SVI3002"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW01-SVI3002-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset('0.0.2.3/24') }}"
      description: "{{ region }}-{{ branch }}-SW02-SVI3002"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW02-SVI3002-IP"
      {# --- L3 Links --- #}
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.1/30') }}"
      description: "{{ region }}-{{ branch }}-RTR01 to {{ region }}-{{ branch }}-SW01"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR01-to-SW01-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.2/30') }}"
      description: "{{ region }}-{{ branch }}-SW01 to {{ region }}-{{ branch }}-RTR01"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW01-to-RTR01-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.5/30') }}"
      description: "{{ region }}-{{ branch }}-RTR02 to {{ region }}-{{ branch }}-SW01"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR02-to-SW01-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.6/30') }}"
      description: "{{ region }}-{{ branch }}-SW01 to {{ region }}-{{ branch }}-RTR02"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW01-to-RTR02-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.9/30') }}"
      description: "{{ region }}-{{ branch }}-RTR01 to {{ region }}-{{ branch }}-SW02"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR01-to-SW02-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.10/30') }}"
      description: "{{ region }}-{{ branch }}-SW02 to {{ region }}-{{ branch }}-RTR01"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW02-to-RTR01-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.13/30') }}"
      description: "{{ region }}-{{ branch }}-RTR02 to {{ region }}-{{ branch }}-SW02"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-RTR02-to-SW02-IP"
    - "!create_or_update:address": "{{ BRANCHES[region][branch]["LAN"] | network_offset(BRANCHES["OFFSET_L3LINKS"]) | network_offset('0.0.0.14/30') }}"
      description: "{{ region }}-{{ branch }}-SW02 to {{ region }}-{{ branch }}-RTR02"
      status__name: "Active"
      "!ref": "{{ region }}-{{ branch }}-SW02-to-RTR02-IP"
  {% endfor %}
{% endfor %}

ip_address_assignments:
{% for region in ["AMER", "EMEA", "APAC"]%}
  {% for branch in BRANCHES[region] %}
    {# --- SVIs --- #}
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW01-SVI3001-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW01-SVI3001"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW01-SVI3002-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW01-SVI3002"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW02-SVI3001-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW02-SVI3001"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW02-SVI3002-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW02-SVI3002"
    {# --- L3 Links --- #}
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR01-to-SW01-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR01-to-SW01"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW01-to-RTR01-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW01-to-RTR01"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR02-to-SW01-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR02-to-SW01"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW01-to-RTR02-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW01-to-RTR02"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR01-to-SW02-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR01-to-SW02"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW02-to-RTR01-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW02-to-RTR01"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR02-to-SW02-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR02-to-SW02"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-SW02-to-RTR02-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-SW02-to-RTR02"
    {# --- WAN --- #}
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR01-WAN-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR01-WAN"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR02-WAN-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR02-WAN"
    {# --- VPN --- #}
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR01-Tunnel0-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR01-Tunnel0"
    - "!create_or_update:ip_address": "!ref:{{ region }}-{{ branch }}-RTR02-Tunnel0-IP"
      "!create_or_update:interface": "!ref:{{ region }}-{{ branch }}-RTR02-Tunnel0"
  {% endfor %}
{% endfor %}

