vpns:
{% for region in ["AMER", "EMEA", "APAC"] %}
  - "!create_or_update:name": "{{ region }}-DMVPN"
    vpn_id: "{{ region }}"
    vpn_profile__name: "High-Security Site-to-Site"
    role__name: "DMVPN"
    "!ref": "{{ region }}-DMVPN"
{% endfor %}

vpn_tunnel_endpoints:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {% for branch in BRANCHES[region] %}
    - "!create_or_update:device": "!ref:{{ region }}-{{ branch }}-RTR01"
      "!create_or_update:source_interface": "!ref:{{ region }}-{{ branch }}-RTR01-WAN"
      "!create_or_update:source_ipaddress": "!ref:{{ region }}-{{ branch }}-RTR01-WAN-IP"
      tunnel_interface: "!ref:{{ region }}-{{ branch }}-RTR01-Tunnel0"
      role__name: "Spoke"
      protected_prefixes: ["!ref:{{ region }}-{{ branch }}-LAN-SUPERNET"]
      "!ref": "{{ region }}-{{ branch }}-DMVPN-SPOKE01"
    - "!create_or_update:device": "!ref:{{ region }}-{{ branch }}-RTR02"
      "!create_or_update:source_interface": "!ref:{{ region }}-{{ branch }}-RTR02-WAN"
      "!create_or_update:source_ipaddress": "!ref:{{ region }}-{{ branch }}-RTR02-WAN-IP"
      tunnel_interface: "!ref:{{ region }}-{{ branch }}-RTR02-Tunnel0"
      role__name: "Spoke"
      protected_prefixes: ["!ref:{{ region }}-{{ branch }}-LAN-SUPERNET"]
      "!ref": "{{ region }}-{{ branch }}-DMVPN-SPOKE02"
  {% endfor %}
{% endfor %}

vpn_tunnels:
{% for region in ["AMER", "EMEA", "APAC"] %}
  {% for branch in BRANCHES[region] %}
    - "!create_or_update:name": "{{ region }}{{ branch }}01"
      description: "Tunnel from {{ region }}-DC01-RTR01 to {{ region }}-{{ branch }}-RTR01"
      vpn: "!ref:{{ region }}-DMVPN"
      tunnel_id: "{{ region }}{{ branch }}01"
      encapsulation: "IPsec-Tunnel"
      endpoint_a: "!ref:{{ region }}-DC01-DMVPN-HUB01"
      endpoint_z: "!ref:{{ region }}-{{ branch }}-DMVPN-SPOKE01"
      status__name: "Active"
      role__name: "DMVPN"
    - "!create_or_update:name": "{{ region }}{{ branch }}02"
      description: "Tunnel from {{ region }}-DC01-RTR02 to {{ region }}-{{ branch }}-RTR02"
      vpn: "!ref:{{ region }}-DMVPN"
      tunnel_id: "{{ region }}{{ branch }}02"
      encapsulation: "IPsec-Tunnel"
      endpoint_a: "!ref:{{ region }}-DC01-DMVPN-HUB02"
      endpoint_z: "!ref:{{ region }}-{{ branch }}-DMVPN-SPOKE02"
      status__name: "Active"
      role__name: "DMVPN"
  {% endfor %}
{% endfor %}

