---
{% include "designs/01_basedata.yaml.j2" %}
{% include "designs/02_locations.yaml.j2" %}
{% include "designs/03_vlans.yaml.j2" %}
{% include "designs/04_devices.yaml.j2" %}
{% include "designs/05_prefixes.yaml.j2" %}
{% include "designs/06_ipaddresses.yaml.j2" %}
{% include "designs/07_interfaceredundancygroups.yaml.j2" %}
{% include "designs/08_circuits.yaml.j2" %}
{% include "designs/09_vpns.yaml.j2" %}
